.center-align{
  margin-top: 20px;
  text-align: center;
}

.center{
  margin-top: 10px;
  text-align: center;
}

.move-down {
  margin-top: 60px;
}

.aligning{
  margin-left: 580px;
  margin-top: 20px;
}
